[user]
	name = Lorin Hochstein
    email = lhochstein@netflix.com
    #email = lorinh@gmail.com
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[push]
	default = current
[core]
    editor = nvim
	excludesfile = /Users/lorin/.gitignore
#    editor = atom -w
#	editor = subl -w
[color]
	diff = true
[alias]
    aa = add --all
    amend = commit --amend --no-edit
    ancestor = merge-base master HEAD
    ci = commit -v
    co = commit -v
    copy = clone --depth 1
    d = diff --name-status
    diff-ancestor = "!git difftool $(git ancestor)"
    ed = "!nvim $(git status  | grep modified | awk '{ print $2 }')"
    edl = "!nvim $(git last | awk '{ print $2 }')"
    l = "!. ~/.githelpers && pretty_git_log"
    last = diff HEAD^ --name-status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    open = browse
    sha = rev-parse HEAD
    st = status
    switch = checkout -
    unstage = reset HEAD
[init]
	templatedir = ~/.git_template
[gitreview]
	username = lorinh
[http]
	postBuffer = 524288000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
