[user]
	name = Lorin Hochstein
	email = lorin.hochstein@sendgrid.com
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[push]
	default = simple
[core]
    editor = vim
	excludesfile = /Users/lorinhochstein/.gitignore_global
#    editor = atom -w
#	editor = subl -w
[color]
	diff = true
[alias]
    aa = add --all
    unstage = reset HEAD
	sha = rev-parse HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    ci = commit -v
    l = "!. ~/.githelpers && pretty_git_log"
[init]
	templatedir = ~/.git_template
