[user]
	name = Lorin Hochstein
	email = lorin.hochstein@sendgrid.com
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[push]
	default = simple
[core]
    editor = vim
	excludesfile = /Users/lorinhochstein/.gitignore_global
#    editor = atom -w
#	editor = subl -w
[color]
	diff = true
[alias]
    aa = add --all
    amend = commit --amend --no-edit
    ancestor = merge-base master HEAD
    ci = commit -v
    co = commit -v
    d = diff --name-status
    ed = "!vim $(git status  | grep modified | awk '{ print $2 }')"
    edl = "!vim $(git last | awk '{ print $2 }')"
    l = "!. ~/.githelpers && pretty_git_log"
    last = diff HEAD^ --name-status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    open = browse
    sha = rev-parse HEAD
    st = status
    unstage = reset HEAD
[init]
	templatedir = ~/.git_template
