" Cycle through buffers
map <Tab> gt
map <S-Tab> gT

" close fold with space
map <space> zc


" system clipboard
set clipboard+=unnamed

" surround
set surround

" Map Control R to run
map <C-r> :action Run<CR>
