" Cycle through buffers
map <Tab> gt
map <S-Tab> gT

" close fold with space
map <space> zc


" use system clipboard
set clipboard+=unnamed

" case-insensitive search
set ic

" surround
set surround

" To see the names of all of the commands, type the following in IDEA
" :actionlist
" https://github.com/JetBrains/ideavim#executing-ide-actions
noremap <C-r> :action Run<CR>
noremap <C-b> :action ToggleLineBreakpoint<CR>
noremap <C-n> :action GotoNextError<CR>
noremap <C-p> :action GotoPreviousError<CR>

let mapleader = ","
noremap <leader>b :action CloseActiveTab<CR>
noremap <leader>d :action CopyPaths<CR>
noremap <leader>D :action CopyPaths<CR>
