" Cycle through buffers
map <Tab> gt
map <S-Tab> gT

" close fold with space
map <space> zc


" use system clipboard
set clipboard+=unnamed

" case-insensitive search
set ic

" surround
set surround

" https://github.com/JetBrains/ideavim#executing-ide-actions
map <C-r> :action Run<CR>
map <C-b> :action ToggleLineBreakpoint<CR>
