snippet entry "cheatsheet entry"
entry do
    name '$1'
    notes <<-'END'
    \`\`\`
    $2
    \`\`\`
    END
end
endsnippet

snippet category "cheatsheet category"
category do
    id '$1'
end
endsnippet
